*.egg-info/
*.iml
*.pyc
*.swp
.DS_Store
.eggs/
.cache/
*venv/
venv/
.idea/
.vscode/
settings.json
pip-wheel-metadata/
plugins/
.pytest_cache/
.python-version
frozen_version.py
.mypy_cache/
*.sqlite3
_version.py
.nox/
app.py
__pycache__/
flagged/
.ipynb_checkpoints/
.virtual_documents/
generated_notebook.ipynb
generated_folders/
final_generated_notebook.ipynb
generate_jupyter.py
test.ipynb
# pixi environments
.pixi
*.egg-info
# ruff cache
.ruff_cache
# Documentation


# MyST build outputs
_build

# Sphinx and MyST documentation outputs
_build/                # Ignore all Sphinx build directories
_build/html/           # Specifically ignore HTML build output if only HTML is used
_build/doctrees/       # Ignore doctree files created during Sphinx builds
_build/latex/          # Ignore LaTeX build output if used
docs/_build/           # Ignore _build within the docs directory if that's your Sphinx root

# Additional MyST outputs
*.nbconvert/           # Ignore any nbconvert artifacts if notebooks are used
